<div class="row">

  <div class="col-md-4">
    <div style="background-color:#ffffff; border-radius:10px; padding:20px;">
      <p>
        تقویم جلالی یک تقویم خورشیدی است که در ایران مورد استفاده قرار می گرفت. انواع آن هنوز در ایران و افغانستان در دست استفاده است
      </p>

      <ngb-datepicker #dp [(ngModel)]="model" [firstDayOfWeek]="6" dir="ltr"></ngb-datepicker>

      <hr />

      <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">انتخاب امروز</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">به آخر ماه</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 1396, month: 4})">رفتن به تیر 1396</button>

      <hr />

<pre>Model: {{ model | json }}</pre>
    </div>
  </div>

</div>
