<!-- Wrapper -->
<div id="wrapper">


  <!-- Header Container
  ================================================== -->
  <header id="header-container">
  
    <!-- Topbar -->
    <div id="top-bar">
      <div class="container">
  
        <!-- Left Side Content -->
        <div class="left-side">
  
          <!-- Top bar -->
          <ul class="top-bar-menu">
            <li><i class="fa fa-phone"></i> 09177086594 </li>
            <li><i class="fa fa-calendar-o"></i>آژانس املاک زاگرس</li>
            <li><i class="fa fa-user"></i> <a href="#">مدیریت: سید عباس شریعتی مهر</a></li>
          </ul>
  
        </div>
        <!-- Left Side Content / End -->
  
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- Topbar / End -->
  
  
    <!-- Header -->
    <div id="header">
      <div class="container">
        
        <!-- Left Side Content -->
        <div class="left-side">
  
          <!-- Mobile Navigation -->
          <div class="menu-responsive">
            <i class="fa fa-reorder menu-trigger"></i>
          </div>
  
  
          <!-- Main Navigation -->
          <nav id="navigation" class="style-1">
            <ul id="responsive">
              <li><a href="#">جستجو</a>
                <ul>
                  <li><a href="#">آپارتمان</a></li>
                  <li><a href="#">منزل</a></li>
                  <li><a href="#">مغازه</a></li>
                  <li><a href="#">خرید و فروش</a></li>
                </ul>
              </li>
              <li><a href="#">مکان یابی</a></li>
  
            </ul>
          </nav>
          <div class="clearfix"></div>
          <!-- Main Navigation / End -->
          
        </div>
        <!-- Left Side Content / End -->
  
        <!-- Right Side Content / End -->
        <div class="right-side">
          <!-- Header Widget -->
          <div class="header-widget">
            <a href="#" class="button border">ورود به سیستم</a>
          </div>
          <!-- Header Widget / End -->
        </div>
        <!-- Right Side Content / End -->
  
      </div>
    </div>
    <!-- Header / End -->
  
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->
  
  
  <!-- Banner
  ================================================== -->
  <div class="parallax" data-background="../assets/images/listings-parallax.jpg" data-color="#00573f" data-color-opacity="0.75" data-img-width="2500" data-img-height="1600">
    <div class="parallax-content">
  
      <div class="container">
        <div class="row">
          <div class="col-md-12">
  
            <!-- Main Search Container -->
            <div class="main-search-container">
              <h2>جستجوی کلیه اطلاعات در سیستم</h2>
              
              <!-- Main Search -->
              <form class="main-search-form">
                
                <!-- Type -->
                <div class="search-type">
                  <label class="active"><input class="first-tab" name="tab" checked="checked" type="radio">جستجوی کلی</label>
                  <label><input name="tab" type="radio">آپارتمان</label>
                  <label><input name="tab" type="radio">منزل</label>
                  <label><input name="tab" type="radio">مغازه</label>
                  <label><input name="tab" type="radio">خرید و فروش</label>
                  <div class="search-type-arrow"></div>
                </div>
  
                
                <!-- Box -->
                <div class="main-search-box">
                  
                  <!-- Main Search Input -->
                  <div class="main-search-input larger-input">
                    <input type="text" class="ico-01" placeholder="آدرس را وارد کنید." value=""/>
                    <button class="button">جست و جو</button>
                  </div>
  
                  <!-- Row -->
                  <div class="row with-forms">
  
                    <!-- Property Type -->
                    <div class="col-md-4">
                      <select data-placeholder="نوع" class="chosen-select-no-single" >
                        <option>همه</option>	
                        <option>آپارتمان</option>
                        <option>منزل</option>
                        <option>مغازه</option>
                        <option>خرید و فروش</option>
                      </select>
                    </div>
  
  
                    <!-- Min Price -->
                    <div class="col-md-4">
                      
                      <!-- Select Input -->
                      <div class="select-input">
                        <input type="text" placeholder="حداقل قیمت" data-unit="تومان">
                      </div>
                      <!-- Select Input / End -->
  
                    </div>
  
  
                    <!-- Max Price -->
                    <div class="col-md-4">
                      
                      <!-- Select Input -->
                      <div class="select-input">
                        <input type="text" placeholder="حداکثر قیمت" data-unit="تومان">
                      </div>
                      <!-- Select Input / End -->
  
                    </div>
  
                  </div>
                  <!-- Row / End -->
  
  
                  <!-- More Search Options -->
                  <a href="#" class="more-search-options-trigger" data-open-title="گزینه های بیشتر" data-close-title="بستن"></a>
  
                  <div class="more-search-options">
                    <div class="more-search-options-container">
  
                      <!-- Row -->
                      <div class="row with-forms">
  
                        <!-- Min Price -->
                        <div class="col-md-6">
                          
                          <!-- Select Input -->
                          <div class="select-input">
                            <input type="text" placeholder="حداقل مساحت" data-unit="متر مربع">
                          </div>
                          <!-- Select Input / End -->
  
                        </div>
  
                        <!-- Max Price -->
                        <div class="col-md-6">
                          
                          <!-- Select Input -->
                          <div class="select-input">
                            <input type="text" placeholder="حداکثر مساحت" data-unit="متر مربع">
                          </div>
                          <!-- Select Input / End -->
  
                        </div>
  
                      </div>
                      <!-- Row / End -->
  
  
                      <!-- Row -->
                      <div class="row with-forms">
  
                        <!-- Min Area -->
                        <div class="col-md-6">
                          <select data-placeholder="تعداد اتاق ها" class="chosen-select-no-single" >
                            <option label="blank"></option>	
                            <option>همه</option>	
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
  
                        <!-- Max Area -->
                        <div class="col-md-6">
                          <select data-placeholder="حمام" class="chosen-select-no-single" >
                            <option label="blank"></option>	
                            <option>همه</option>	
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
  
                      </div>
                      <!-- Row / End -->
        
  
                      <!-- Checkboxes -->
                      <div class="checkboxes in-row">
                    
                        <input id="check-2" type="checkbox" name="check">
                        <label for="check-2">تهویه مطبوع</label>
  
                        <input id="check-3" type="checkbox" name="check">
                        <label for="check-3">استخر</label>
  
                        <input id="check-4" type="checkbox" name="check" >
                        <label for="check-4">گرمایش مرکزی</label>
  
                        <input id="check-5" type="checkbox" name="check">
                        <label for="check-5">اتاق لباسشویی</label>	
  
  
                        <input id="check-6" type="checkbox" name="check">
                        <label for="check-6">باشگاه بدنسازی</label>
  
                        <input id="check-7" type="checkbox" name="check">
                        <label for="check-7">زنگ خطر</label>
  
                        <input id="check-8" type="checkbox" name="check">
                        <label for="check-8">پوشش پنجره</label>
                    
                      </div>
                      <!-- Checkboxes / End -->
  
                    </div>
                  </div>
                  <!-- More Search Options / End -->
  
  
                </div>
                <!-- Box / End -->
  
              </form>
              <!-- Main Search -->
  
            </div>
            <!-- Main Search Container / End -->
  
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
      
  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">
    
      <div class="col-md-12">
        <h3 class="headline margin-bottom-25 margin-top-45">آخرین املاک ثبت شده</h3>
      </div>
      
      <div class="container">
        <div class="row fullwidth-layout">
      
          <div class="col-md-12">
      
            <!-- Sorting / Layout Switcher -->
            <div class="row margin-bottom-15">
      
              <div class="col-md-6">
                <!-- Sort by -->
                <div class="sort-by">
                  <label>مرتب سازی</label>
      
                  <div class="sort-by-select">
                    <select data-placeholder="ترتیب پیش فرض" class="chosen-select-no-single" >
                      <option>بر اساس :</option>	
                      <option>قیمت (از کم به زیاد)</option>
                      <option>قیمت (از زیاد به کم)</option>
                      <option>جدیدترین ملک</option>
                      <option>قدیمی ترین ملک</option>
                    </select>
                  </div>
                </div>
              </div>
      
              <div class="col-md-6">
                <!-- Layout Switcher -->
                <div class="layout-switcher">
                  <a href="#" class="list"><i class="fa fa-th-list"></i></a>
                  <a href="#" class="grid-three"><i class="fa fa-th"></i></a>
                </div>
              </div>
            </div>
      
            
            <!-- Listings -->
            <div class="listings-container list-layout">
      
              <!-- Listing Item -->
              <div class="listing-item">
      
                <a href="#" class="listing-img-container">
      
                  <div class="listing-badges">
                    <span class="featured">ویژه</span>
                    <span>فروشی</span>
                  </div>
      
                  <div class="listing-img-content">
                    <span class="listing-price">275,000 تومان <i>520 تومان / متر مربع</i></span>
                    <span class="like-icon tooltip"></span>
                  </div>
      
                  <div class="listing-carousel">
                    <div><img src="../assets/images/listing-01.jpg" alt=""></div>
                    <div><img src="../assets/images/listing-01b.jpg" alt=""></div>
                    <div><img src="../assets/images/listing-01c.jpg" alt=""></div>
                  </div>
                </a>
                
                <div class="listing-content">
      
                  <div class="listing-title">
                    <h4><a href="#">مجتمع آپارتمانی عقاب</a></h4>
                    <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                      <i class="fa fa-map-marker"></i>
                      مشهد، خیابان امام رضا (ع)
                    </a>
      
                    <a href="#" class="details button border">جزئیات</a>
                  </div>
      
                  <ul class="listing-details">
                    <li>530 متر مربع</li>
                    <li>1 اتاق خواب</li>
                    <li>3 اتاق</li>
                    <li>1 حمام</li>
                  </ul>
      
                  <div class="listing-footer">
                    <a href="#"><i class="fa fa-user"></i> لورم ایپسوم 1</a>
                    <span><i class="fa fa-calendar-o"></i> 1 روز پیش</span>
                  </div>
      
                </div>
      
              </div>
              <!-- Listing Item / End -->
      
      
              <!-- Listing Item -->
              <div class="listing-item">
      
                <a href="#" class="listing-img-container">
      
                  <div class="listing-badges">
                    <span>اجاره ای</span>
                  </div>
      
                  <div class="listing-img-content">
                    <span class="listing-price">900 تومان <i>ماهیانه</i></span>
                    <span class="like-icon"></span>
                  </div>
      
                  <img src="../assets/images/listing-02.jpg" alt="">
      
                </a>
                
                <div class="listing-content">
      
                  <div class="listing-title">
                    <h4><a href="#">آپارتمان</a></h4>
                    <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                      <i class="fa fa-map-marker"></i>
                      تهران، خیابان ارم
                    </a>
      
                    <a href="#" class="details button border">جزئیات</a>
                  </div>
      
                  <ul class="listing-details">
                    <li>440 متر مربع</li>
                    <li>1 اتاق خواب</li>
                    <li>1 اتاق</li>
                    <li>1 حمام</li>
                  </ul>
      
                  <div class="listing-footer">
                    <a href="#"><i class="fa fa-user"></i> لورم ایپسوم 2</a>
                    <span><i class="fa fa-calendar-o"></i> 2 روز پیش</span>
                  </div>
      
                </div>
      
              </div>
              <!-- Listing Item / End -->
      
      
              <!-- Listing Item -->
              <div class="listing-item">
      
                <a href="#" class="listing-img-container">
      
                  <div class="listing-badges">
                    <span class="featured">ویژه</span>
                    <span>اجاره ای</span>
                  </div>
      
                  <div class="listing-img-content">
                    <span class="listing-price">1700 تومان <i>ماهیانه</i></span>
                    <span class="like-icon"></span>
                  </div>
      
                  <img src="../assets/images/listing-03.jpg" alt="">
      
                </a>
                
                <div class="listing-content">
      
                  <div class="listing-title">
                    <h4><a href="#">خانه ویلایی</a></h4>
                    <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                      <i class="fa fa-map-marker"></i>
                      تهران، خیابان ونک
                    </a>
      
                    <a href="#" class="details button border">جزئیات</a>
                  </div>
      
                  <ul class="listing-details">
                    <li>1450 متر مربع</li>
                    <li>1 اتاق خواب</li>
                    <li>2 اتاق</li>
                    <li>2 اتاق</li>
                  </ul>
      
                  <div class="listing-footer">
                    <a href="#"><i class="fa fa-user"></i> لورم ایپسوم 3</a>
                    <span><i class="fa fa-calendar-o"></i> 4 روز پیش</span>
                  </div>
      
                </div>
                <!-- Listing Item / End -->
      
              </div>
              <!-- Listing Item / End -->
      
      
              <!-- Listing Item -->
              <div class="listing-item">
      
                <a href="#" class="listing-img-container">
      
                  <div class="listing-badges">
                    <span>فروشی</span>
                  </div>
      
                  <div class="listing-img-content">
                    <span class="listing-price">420,000 تومان <i>770 تومان / متر مربع</i></span>
                    <span class="like-icon"></span>
                  </div>
      
                  <div class="listing-carousel">
                    <div><img src="../assets/images/listing-04.jpg" alt=""></div>
                    <div><img src="../assets/images/listing-04b.jpg" alt=""></div>
                  </div>
      
                </a>
                
                <div class="listing-content">
      
                  <div class="listing-title">
                    <h4><a href="#">آپارتمان</a></h4>
                    <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                      <i class="fa fa-map-marker"></i>
                      تهران، خیابان ونک
                    </a>
      
                    <a href="#" class="details button border">جزئیات</a>
                  </div>
      
                  <ul class="listing-details">
                    <li>540 متر مربع</li>
                    <li>1 اتاق خواب</li>
                    <li>3 اتاق</li>
                    <li>2 حمام</li>
                  </ul>
      
                  <div class="listing-footer">
                    <a href="#"><i class="fa fa-user"></i> لورم ایپسوم 4</a>
                    <span><i class="fa fa-calendar-o"></i> 3 روز پیش</span>
                  </div>
      
                </div>
                <!-- Listing Item / End -->
      
              </div>
              <!-- Listing Item / End -->

                            <!-- Listing Item -->
                            <div class="listing-item">
      
                              <a href="#" class="listing-img-container">
                    
                                <div class="listing-badges">
                                  <span>فروشی</span>
                                </div>
                    
                                <div class="listing-img-content">
                                  <span class="listing-price">420,000 تومان <i>770 تومان / متر مربع</i></span>
                                  <span class="like-icon"></span>
                                </div>
                    
                                <div class="listing-carousel">
                                  <div><img src="../assets/images/listing-04.jpg" alt=""></div>
                                  <div><img src="../assets/images/listing-04b.jpg" alt=""></div>
                                </div>
                    
                              </a>
                              
                              <div class="listing-content">
                    
                                <div class="listing-title">
                                  <h4><a href="#">آپارتمان</a></h4>
                                  <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                                    <i class="fa fa-map-marker"></i>
                                    تهران، خیابان ونک
                                  </a>
                    
                                  <a href="#" class="details button border">جزئیات</a>
                                </div>
                    
                                <ul class="listing-details">
                                  <li>540 متر مربع</li>
                                  <li>1 اتاق خواب</li>
                                  <li>3 اتاق</li>
                                  <li>2 حمام</li>
                                </ul>
                    
                                <div class="listing-footer">
                                  <a href="#"><i class="fa fa-user"></i> لورم ایپسوم 4</a>
                                  <span><i class="fa fa-calendar-o"></i> 3 روز پیش</span>
                                </div>
                    
                              </div>
                              <!-- Listing Item / End -->
                    
                            </div>
                            <!-- Listing Item / End -->

                                          <!-- Listing Item -->
              <div class="listing-item">
      
                <a href="#" class="listing-img-container">
      
                  <div class="listing-badges">
                    <span>فروشی</span>
                  </div>
      
                  <div class="listing-img-content">
                    <span class="listing-price">420,000 تومان <i>770 تومان / متر مربع</i></span>
                    <span class="like-icon"></span>
                  </div>
      
                  <div class="listing-carousel">
                    <div><img src="../assets/images/listing-04.jpg" alt=""></div>
                    <div><img src="../assets/images/listing-04b.jpg" alt=""></div>
                  </div>
      
                </a>
                
                <div class="listing-content">
      
                  <div class="listing-title">
                    <h4><a href="#">آپارتمان</a></h4>
                    <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                      <i class="fa fa-map-marker"></i>
                      تهران، خیابان ونک
                    </a>
      
                    <a href="#" class="details button border">جزئیات</a>
                  </div>
      
                  <ul class="listing-details">
                    <li>540 متر مربع</li>
                    <li>1 اتاق خواب</li>
                    <li>3 اتاق</li>
                    <li>2 حمام</li>
                  </ul>
      
                  <div class="listing-footer">
                    <a href="#"><i class="fa fa-user"></i> لورم ایپسوم 4</a>
                    <span><i class="fa fa-calendar-o"></i> 3 روز پیش</span>
                  </div>
      
                </div>
                <!-- Listing Item / End -->
      
              </div>
              <!-- Listing Item / End -->
      
            </div>
            <!-- Listings Container / End -->
      
            <div class="clearfix"></div>
            <!-- Pagination -->
            <div class="pagination-container margin-top-20">
              <nav class="pagination">
                <ul>
                  <li><a href="#" class="current-page">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li class="blank">...</li>
                  <li><a href="#">10</a></li>
                </ul>
              </nav>
      
              <nav class="pagination-next-prev">
                <!-- <ul>
                  <li><a href="#" class="prev">قبلی</a></li>
                  <li><a href="#" class="next">بعدی</a></li>
                </ul> -->
              </nav>
            </div>
            <!-- Pagination / End -->
      
          </div>
      
        </div>
      </div>
  
    </div>
  </div>
  
  
  
  <!-- Fullwidth Section -->
  <section class="fullwidth margin-top-105" data-background-color="#f7f7f7">
  
    <!-- Box Headline -->
    <h3 class="headline-box">اخبار و اطلاعیه ها</h3>
    
    <div class="container">
      <div class="row">
  
        <div class="col-md-4">
  
          <!-- Blog Post -->
          <div class="blog-post">
            
            <!-- Img -->
            <a href="#" class="post-img">
              <img src="../assets/images/blog-widget-01.jpg" alt="">
            </a>
            
            <!-- Content -->
            <div class="post-content">
              <h3><a href="#">مقاله شماره 1</a></h3>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
  
              <a href="#" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
            </div>
  
          </div>
          <!-- Blog Post / End -->
  
        </div>
  
        <div class="col-md-4">
  
          <!-- Blog Post -->
          <div class="blog-post">
            
            <!-- Img -->
            <a href="#" class="post-img">
              <img src="../assets/images/blog-widget-02.jpg" alt="">
            </a>
            
            <!-- Content -->
            <div class="post-content">
              <h3><a href="#">مقاله شماره 2</a></h3>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
  
              <a href="#" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
            </div>
  
          </div>
          <!-- Blog Post / End -->
  
        </div>
  
        <div class="col-md-4">
  
          <!-- Blog Post -->
          <div class="blog-post">
            
            <!-- Img -->
            <a href="#" class="post-img">
              <img src="../assets/images/blog-widget-03.jpg" alt="">
            </a>
            
            <!-- Content -->
            <div class="post-content">
              <h3><a href="#">مقاله شماره 3</a></h3>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
  
              <a href="#" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
            </div>
  
          </div>
          <!-- Blog Post / End -->
  
        </div>
  
      </div>
    </div>
  </section>
  <!-- Fullwidth Section / End -->
  
  
  <!-- Footer
  ================================================== -->
  <div id="footer" class="dark">
    <!-- Main -->
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <br><br>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
        </div>
  
        <div class="col-md-4 col-sm-6 ">
          <h4>پیوندهای مفید</h4>
          <ul class="footer-links">
            <li><a href="#">ورود به سامانه</a></li>
            <li><a href="#">ثبت نام کاربر جدید</a></li>
            <li><a href="#">حساب کاربری من</a></li>
            <li><a href="#">ثبت ملک</a></li>
          </ul>
  
          <ul class="footer-links">
            <li><a href="#">لینک های مفید</a></li>
            <li><a href="#">وبلاگ</a></li>
            <li><a href="#">مشاوران ما</a></li>
            <li><a href="#">تماس</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>		
  
        <div class="col-md-3  col-sm-12">
          <h4>تماس با ما</h4>
          <div class="text-widget">
            <span>شیراز، شهر صدرا</span> <br>
            تلفن  : <span>07136406142</span><br>
            همراه : <span>09177086594</span><br>
          </div>
        </div>
  
      </div>
      
      <!-- Copyright -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">کلیه حقوق مادی و معنوی این سامانه متعلق به آژانس املاک زاگرس می باشد.</div>
        </div>
      </div>
  
    </div>
  
  </div>
  <!-- Footer / End -->
  
  
  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div> 

<router-outlet></router-outlet>